/* primary color #ec008c 
   secondary color #92278f
   */

.wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 1rem;
}

.banner {
    background-color: #ec008c;
    color: #fff;
    border-radius: 0;
    padding: 2rem 1rem;
    margin-bottom: 0;
}

.ccs-banner {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.ccs-banner h3 {
    color: #fff;
}

.banner-title {
    align-self: center;
}

.logo-wrapper {
    padding: 12px;
    background-color: #fff;
    border-radius: 12px;
    margin-right: 1rem;
}

.navbar {
    background-color: #92278f;
    color: #fff;
}

.navbar a {
    color: #fff;
}

.navbar a.active {
    background-color: #a6ce39;
    color: #92278f;
    border-radius: 4px;
}

.dropdown-menu {
    background-color: #92278f;
}

.footer {
    background-color: #92278f;
    padding: 1rem;
    color: #fff;
}

.footer a {
    color: #fff;
}

h1, h2 {
    color: #92278f;
}

h3, h4 {
    color: #faa61a;
}

.lead {
    padding: .25rem 1rem;
}

