{% extends "base.html" %}
{% load static %}   
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col">
                        {{ self.left_col | richtext }}
                    </div>
                    <div class="col">
                        {{ self.right_col | richtext }}
                    </div>
                </div>
            </div>
            
        </div>
{% endblock %}