{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title> 
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
        {# Global stylesheets #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link href="{% static 'css/all.css' %}" rel="stylesheet"> <!--load all styles -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/ccs.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        <div class="wrap">
            <header>
                    <div class="jumbotron banner">
                      <div class="container  ccs-banner">
                          <div class="logo-wrapper">
                              <img src="{% static 'images/ccs-logo.png' %}" alt="ccs-logo" class="img-fluid" />
                      </div>
                      <div class=banner-title>
                        {% block banner-title %}
                          <h3 class="display-5 banner-title banner">{{ self.title }}</h3>
                          <div class="lead">{{ self.subtitle }}</div>
                        {% endblock %}
                      </div>
                      </div>
                            
                        </div>
                        <nav class="navbar navbar-expand-lg">
                          <div class="container">
                            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon fas fa-bars"></span>
                            </button>
                          
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                              <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                  <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="/">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if 'about' in request.path %}active{% endif %}" href="/about">About Us</a>
                                  </li>
                                <li class="nav-item">
                                  <a class="nav-link {% if 'contact' in request.path %}active{% endif %}" href="/contact">Contact Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if 'stakeholder-report' in request.path %}active{% endif %}" href="/stakeholder-report">Stakeholder Report</a>
                                  </li>
                                <li class="nav-item dropdown">
                                  <a class="nav-link dropdown-toggle {% if 'resource' in request.path %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Resources
                                  </a>
                                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/resources/resourcebycategory/medical-dental">Medical/Dental</a>
                                    <a class="dropdown-item" href="/resources/resourcebycategory/food">Food</a>
                                    <a class="dropdown-item" href="/resources/resourcebycategory/jobs">Jobs</a>
                                    <a class="dropdown-item" href="/resources/resourcebycategory/transportation">Transportation</a>
                                    <a class="dropdown-item" href="/resources/resourcebycategory/housing">Housing</a>
                                    <a class="dropdown-item" href="/resources/resourcebycategory/personal-care">Personal Care/Toiletries</a>
                                    <a class="dropdown-item" href="/resources/resourcebycategory/legal">Legal</a>
                                    <a class="dropdown-item" href="/resources/resourcebycategory/counseling">Counseling</a>
                                    <a class="dropdown-item" href="/resources/resourcebycategory/senior-services">Senior Services</a>
                                    <a class="dropdown-item" href="/resources/resourcebycategory/safety-services">Safety Services</a>
                
                                    <!-- <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                  </div> -->
                                </li>
                                <!-- <li class="nav-item">
                                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                                </li> -->
                              </ul>
                              <!-- <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                              </form> -->
                            </div>
                          </div>
                          </nav>
            </header>
        
        {% block content %}{% endblock %}
        <div class="footer">
                Contact Us: <a href="mailto:info@medinadiversityproject.org">info@medinadiversityproject.org</a>
            </div>
        </div>
        {# Global javascript #}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/ccs.js' %}"></script>
        
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
        
    </body>
</html>