{% extends "base.html" %}
{% load static %}   
{% load wagtailcore_tags wagtailimages_tags %}

{% block banner-title %}
                          <h3 class="display-5 banner-title banner">Resources</h3>
                          <div class="lead">By category</div>
                        {% endblock %}

{% block content %}
<div class="content">
    <div class="container">
        <!-- <p>List by category here {{category}}</p> -->
        <!-- <div>{{resitems}}</div> -->
        {% if resitems|length > 0 %}
        {% for item in resitems %}
        <h3>{{ item.page.resource_name }}</h3>
          <p><a href="{{item.page.url}}">{{ item.page.resource_name}}</a></p>
          {% for cat in item.page.resource_category.all %}
          <a href="/resources/resourcebycategory/{{cat.category}}/"><span class="category">{{cat.category}}</span></a>
          {% endfor %}
        {% endfor %}
        {% else %}
    <p>No resources listed for this category</p>
    {% endif %}
    </div>
</div>


    
{% endblock %}