{% extends "base.html" %}
{% load static %}   
{% load wagtailcore_tags wagtailimages_tags %}

{% block banner-title %}
                          <h3 class="display-5 banner-title banner">Resources</h3>
                          <div class="lead">All</div>
                        {% endblock %}

{% block content %}
<div class="content">
  <div class="container">

    {% if resitems|length > 0 %}
          {% for item in resitems %}
            <h3><a href="{{item.url}}">{{ item.resource_name}}</a></h3>
            {% for cat in item.resource_category.all %}
            <a href="/resources/resourcebycategory/{{cat.category}}/"><span class="category">{{cat.category}}</span></a>
            {% endfor %}
          {% endfor %}
    {% else %}
    <p>No resources listed for this category</p>
    {% endif %}
  </div>
</div>


    
{% endblock %}
